replicaCount: 2

image:
  repository: ghcr.io/deep-shukla-31/devops-gitops-platform/fastapi
  tag: latest

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: "500m"
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "128Mi"
