replicaCount: 2

image:
  repository: ghcr.io/deep-shukla-31/devops-gitops-platform/fastapi
  tag: 3fc345eda34aeaf0af275f8e5a8bf63b22153fd2
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetport: 8000
resources:
  limits:
    cpu: "500m"
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "128Mi"
