name: CI Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt
          pip install pytest httpx

      - name: Run tests
        run: python -m pytest app/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/fastapi:${{ github.sha }}
          platforms: linux/amd64,linux/arm64

      - name: Update Helm image tag
        run: |
          sed -i "s/tag:.*/tag: ${{ github.sha }}/" helm/fastapi-app/values.yaml
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add helm/fastapi-app/values.yaml
          git commit -m "Update image tag to ${{ github.sha }}" || echo "No changes to commit"
          git pull --rebase origin main
          git push origin main

      - name: Security scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/${{ github.repository }}/fastapi:${{ github.sha }}
