name: CI Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt
          pip install pytest httpx

      - name: Run tests
        run: python -m pytest app/

      - name: Login to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and Push Docker Image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}/fastapi:${{ github.sha }}
          docker build -t $IMAGE -f docker/Dockerfile .
          docker push $IMAGE

      - name: Update Helm image tag
        run: |
          sed -i "s/tag:.*/tag: ${{ github.sha }}/" helm/fastapi-app/values.yaml
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add helm/fastapi-app/values.yaml
          git commit -m "Update image tag to ${{ github.sha }}" || echo "No changes to commmit"
          git pull --rebase origin main 
          git push origin main

      - name: Security scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/${{ github.repository }}/fastapi:${{ github.sha }}
